

DYNAMODB_REGION=

DYNAMODB_DEVICES_TABLE=
DYNAMODB_SUBSCRIPTION_TABLE=
DYNAMODB_NOTIFICATION_REQUESTS_TABLE=
DYNAMODB_NOTIFICATION_LOGS_TABLE=

SNS_REGION=us-east-1
SNS_PLATFORM_APPLICATION_ARN=

API_RATE_LIMIT_TABLE=api_rate_limit_table

OPTIMOVE_API_URL=
OPTIMOVE_API_KEY=
OPTIMOVE_NOTIFICATION_CHANNEL=
OPTIMOVE_CALLBACK_BASE_URL=